@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300 antialiased selection:bg-primary-500/30 selection:text-primary-900 dark:selection:text-primary-100 font-sans text-slate-600 dark:text-slate-400;
    text-rendering: optimizeLegibility;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-900 dark:text-white tracking-tight;
    font-family: 'Outfit', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full border-[4px] border-solid border-white dark:border-slate-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300 dark:bg-slate-700;
}

html {
  scroll-behavior: smooth;
  @apply bg-white dark:bg-slate-950;
}